<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/main.css">
        <title>Projet MongoDB - Parkings</title>
    </head>

    <body>
        <div id="content">
            <h1>Une erreur est survenue lors de la tentative de connection à la base de données MongoDB. Votre service MongoDB est-il en marche ?</h1>
        </div>        
    </body>
</html>